.headingPrimary{
    font-size: 6rem ;
    color: red;
    /* width: 100%; */
}

.home-hero {
    color: #fff
}
.home-hero__cta {
    margin-top: 5rem;
    text-align: center;
}
.btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 ;
    transition: transform .3s;
    width: 15% ;
    height: 200% ;
}
.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
}
